body{
    font: 100;
    text-align: center;
    background-color: gradient(rgb(19, 191, 90),rgb(74, 74, 201));
    color: white;
    margin: 0;

}
button{
    color: white;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(71, 181, 117);
}